/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
    font-family: 'Noto Sans JP', sans-serif;
    text-decoration:none;
    margin:0;
    padding:0;
}

body {
    /*background-image: url(/assets/hotel-2794421_1280.png);*/
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
}

header {
    background-color: #0074bf;
    margin-top: 0px;
    margin-left: 0px;
    height: 80px;
}

.header-logo {
    font-size: 50px;
    color: white;
}

.opening-image {
    width: 100%;
    opacity: 0.7;
}


footer {
    background-color: #0074bf;
    margin-top: 0px;
    margin-left: 0px;
    height: 150px;
    color: white;
    font-size: 10px;
    text-align: center;
    padding-top: 50px;
}